#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#proc genThemesSettings*(c: var TData, msg = ""): string =
# result = ""

<link rel="stylesheet" href="/css/style_admin.css">
<link rel="stylesheet" href="/css/themes_private.css">
<script src="/js/themes_private.js" defer></script>

<div id="themes">

  # if msg != "":
  <div style="color: red">
    ${decodeUrl(msg)}
  </div>
  # end if

  <div id="themesFront">
    <h1>Themes settings</h1>

    # let (n, v, d, u) = pluginExtractDetails("themes")
    <div id="pluginDetails">
      <hr>
      <div> <b>Package:</b> ${n}</div>
      <div> <b>Version:</b> ${v}</div>
      <div> <b>Description:</b><br>${d}</div>
      <div> <b>URL:</b> <a href="${u}">${u}</a></div>
      <hr>
    </div>

  </div>

  <hr>

  <form class="stylesheet" method="get" action="/themes/newsheet">
    <label>New stylesheet name</label>
    <input name="stylesheetname" required />
    <button type="submit" class="btn btn-primary">Save</button>
    <i>This will save your current style_custom.css with a new name</i>
    <i>Only write the name; the extension (CSS) will be append automatic</i>
  </form>

  <ul class="stylesheet">

#   # Add default stylesheet
    <li class="stylesheet">
      <button class="btn btn-success apply" data-url="/themes/apply?stylesheetname=style_custom.css">Apply</button>
      <button class="btn btn-warning update" data-url="/themes/update?stylesheetname=style_custom.css">Update</button>
      <button class="btn btn-danger delete" data-url="/themes/delete?stylesheetname=style_custom.css">Delete</button>
      <span>style_custom.css (default)</span>
    </li>
#
#   var defaultSheet = false
#   for plugin in walkDir("plugins/themes/stylesheets/"):
#     let (pd, ppath) = plugin
#     discard pd
#     let pluginName = replace(ppath, "plugins/themes/stylesheets/", "")
#
#     if pluginName == "style_custom.css":
#       continue
#     end if
#
      <li class="stylesheet">
        <button class="btn btn-success apply" data-url="/themes/apply?stylesheetname=$pluginName">Apply</button>
        <button class="btn btn-warning update" data-url="/themes/update?stylesheetname=$pluginName">Update</button>
        <button class="btn btn-danger delete" data-url="/themes/delete?stylesheetname=$pluginName">Delete</button>
        <span>$pluginName</span>
      </li>

#   end for
  </ul>

  <div>
    <i>If you update the template stylesheet, it will be overwritten with your current css sheet.</i>
  </div>
</div>

#end proc