/* Height of page */
body.has-navbar-fixed-top, html.has-navbar-fixed-top {
  padding-top: 0;
}
/* Logged in settings */
div#navbarSettings {
  margin-top: 27px;
  width: 800px;
}

div#background {
  background-image: none;
  background-color: #e5e5e5;
}

#pagewrapper {
  background: #fffefe;
  max-width: 800px;
  padding-top: 60px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.navbar.is-fixed-top {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  background: #f5f5f5c2;
  width: 800px;
}

.navbar #navbarMain a.nav-link {
  color: #000000;
}

footer {
  width: auto;
  border-top: 1px solid black;
}

div#allblogPosts .list-group-item {
  background: #fcfbfb;
  border: 1px solid #787878;
  margin-bottom: 10px;
}